@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

$light-green: #468ba8;
$dark-green: #2836373a;
$off-white: #F5F5F5;
$off-green: #6B7E7E;

html {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 100%;
  }
  
  body {
    padding: 3rem;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: contain;
    font-family: 'Grechen Fuemen', cursive;
  }

  button {
      border: none;
      cursor: pointer;
      font-family: 'Grechen Fuemen', cursive;
      text-transform: uppercase;
  }

  .invert{
    filter: invert(0%);
  }
  
  .container {
    width: 13rem;
    margin: auto;
    background: $dark-green;
    padding: .5rem 1rem 1rem 1rem;
    border-radius: 1rem;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
  }

  .btn {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-white {
    background: $off-white;
    color: $light-green;
  }
  
  .btn:hover, i:hover {
    transform: scale(1.1);
  }
  
  .btn-alt {
    background: $off-green;
    color: $off-white;
  }
  
  .btn-clear {
    background: transparent;
    color: $off-white;
  }

  .main {
    color: $off-white;
    font-size: 2.5rem;
    height: 1.5rem;
  }
  
  .small {
   color: $off-white;
    font-size: 1rem;
    height: 1rem;
  }
  
  i {
    color: $off-white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .display {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 1rem;
    text-align: right;
    width: 100%;
    padding-bottom: 1rem;
  }

  .github {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .github img {
    height: 20px;
  }